<div id="homeContainer">
  <div id="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameonline">
              <img src="assets/img/generic_avatar.png" id="homeAvatarPicture" alt="" srcset="">
          </div>
        </div>
        <div class="col">
          <b>USERNAME</b>
          <div>
            <span>Online</span>
            <br>
            <span>What are you thinking?</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="text" placeholder="search friend" [(ngModel)] = "query">

  <br>
  <b>Friend:</b>
  <ng-container *ngFor="let user of users | search : query; let i = index">
    <div>
        <a routerLink="/conversation/{{user.uid}}">
          {{user.uid}} : {{user.nick}} - {{user.email}}
        </a>
    </div>
  </ng-container>
</div>


